{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333;
            font-size: 16px; 
        }
        .container {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .artist-details, .albums {
            width: 100%;
            text-align: center;
        }
        .artist-details img, .albums img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 20px;
        }
        .albums {
            margin-top: 40px;
        }
        .albums-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }
        .album-info {
            margin-bottom: 20px;
            width: 300px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: #fff;
            position: relative;
            transition: transform 0.3s;
        }
        .album-info:hover {
            background-color: #333232;
        }
        .album-info a {
            text-decoration: none;
            color: green;
        }
        h1, h2, p {
            color: #fff; 
            padding: 5px; 
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="artist-details">
            <h1>{{ artist.name }}</h1>
            <p>Genre: {{ artist.genres | join(', ') }}</p>
            <p>Popularité: {{ artist.popularity }}</p>
            <p>Followers: {{ artist.followers }}</p>
            <img src="{{ artist.images }}" alt="{{ artist.name }}" class="artist-image">
        </div>

        <div class="albums">
            <h2>Albums</h2>
            <div class="albums-container">
                {% for album in albums %}
                    <div class="album-info">
                        <img src="{{ album.images[0].url }}" alt="{{ album.name }}" class="album-cover">
                        <h3>{{ album.name }}</h3>
                        <p>Date de sortie: {{ album.releaseDate }}</p>
                        <p>Total de musiques: {{ album.totalTracks }}</p>
                        <p>Artists: 
                            {% for artist in album.artists %}
                                <a href="/artist/{{ artist.id }}">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}