{% extends 'base.html.twig' %}

{% block title %}Tableau de bord Spotify{% endblock %}

{% block stylesheets %}
    <style>
        .favorites {
            margin: 20px;
        }
        .favorites h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .track-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .track {
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            color: black;
            width: 200px;
            position: relative;
            transition: background-color 0.3s ease;
        }
        .track:hover {
            background-color: #333232;
        }
        .track img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .track-name {
            font-size: 18px;
            margin: 10px 0;
            color: #fff;
        }
        .artist-name {
            font-size: 14px;
            color: #666;
        }
        .remove-button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.5em;
            color: #ff69b4;
            position: absolute;
            top: 8px;
            right: 8px;
        }
        .remove-button:hover {
            transform: scale(1.2);
            color: #ff1493;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="favorites">
        <h2>Mes Favoris</h2>
        {% if user_favorites is not empty %}
            <div class="track-list">
                {% for track in user_favorites %}
                    <a href="music/{{ track.id }}" class="track">
                        <form action="{{ path('favorite_remove') }}" method="post" style="display: inline;">
                            <input type="hidden" name="track_id" value="{{ track.id }}">
                            <button type="submit" class="remove-button">
                                <i class="fas fa-heart" style="color: #ff69b4;"></i>
                            </button>
                        </form>
                        {% if track.pictureLink %}
                            <img src="{{ track.pictureLink }}" alt="{{ track.name }}">
                        {% endif %}
                        <div class="track-name">{{ track.name }}</div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>Vous n'avez pas encore de favoris.</p>
        {% endif %}
    </div>
{% endblock %}