{% extends 'base.html.twig' %}

{% block title %}Musique{% endblock %}

{% block stylesheets %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        font-size: 16px; 
    }
    .container {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .track-info, .recommendations {
        width: 100%;
        text-align: center;
    }
    .track-info img, .recommendations img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 20px;
    }
    .recommendations {
        margin-top: 40px;
    }
    .recommendations-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .recommendation {
            margin-bottom: 20px;
            width: 300px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: #fff;
            position: relative;
            transition: transform 0.3s;
    }

    .recommendation:hover {
            background-color: #333232 
        }

    .spotify_listen {
        text-decoration: none;
        color: green;
        display: block; 
        margin: 10px 0; 
    }

    .spotify_listen:hover {
        color: #1db954; 
    }

    h1, h2, p {
        color: #fff; 
        padding: 5px; 
    }
</style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="track-info">
            <h1>{{ track.getName() }}</h1>
            <p>Album : {{ track.getAlbumName() }}</p>
            <p>Durée : {{ track.getDurationMs() / 1000 }} secondes</p>
            <p>Nombre de disque : {{ track.getDiscNumber() }}</p>
            <p>Popularité : {{ track.getPopularity() }}</p>
            <a href="{{ track.getSpotifyUrl() }}" class="spotify_listen">Ecouter sur spotify </a>
            <img src="{{ track.getPictureLink() }}" alt="{{ track.getName() }}">
        </div>
        <div class="recommendations">
            <h2>Recommandations</h2>
            <div class="recommendations-container">
                {% for recommendation in recommendations %}
                    <a href="/music/{{ recommendation.getId() }}" class="recommendation">
                        <img src="{{ recommendation.getPictureLink() }}" alt="{{ recommendation.name }}">
                        <p>{{ recommendation.getName() }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}